@font-face {
    font-family: 'MyFontBold';
    src: url("fonts/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: 'MyFontRegular';
    src: url("fonts/Ubuntu-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;

}

a {
    text-decoration: none;
    color: inherit;
}

.content {
    margin: auto;
    width: 80%;
}

.header {
    margin: auto;
    height: 100px;
    background: white;
    display: table;
}

.logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

section {
    margin-top: 50px;
}

.logo h1 {
    color: #e3316f;
    font-family: 'MyFontBold', serif;
    font-size: 45px;
}

#intro-text {
    font-family: 'MyFontRegular', serif;
    text-align: center;
}

.section#employees {
    width: 100%;
    text-align: center;
}

.employee {
    margin: 0 15px 40px;
    display: inline-block;
    text-align: left;
    width: 370px;
    height: 100px;
    background: #0f0e17;

}

.employee img {
    height: 100%;
    float: left;
}

.employee .bio {
    padding: 5px 40px 5px 10px;
    height: 100%;
    float: left;
}

.employee .bio div {
    margin-top: 5px;
    font-family: 'MyFontRegular', serif;
    color: white;
}

.employee .bio .name {
    font-family: 'MyFontBold', serif;
    font-size: 25px;
}

.employee .bio .mail {
    cursor: pointer;
    color: #50c3dc;
}
